<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweeter</title>
    <style>
        body {
            background: rgb(206, 243, 255);
            padding: 20px;
        }

        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div>
    <h1>I love my cat</h1>


    <!--
        TO-DO: remove secret links so people do not visit
    -->
    <a href="/login" hidden >s3cr3t link (oOOoo scary)</a>



</div>
<div>
    <img src="/static/dexter.jpg" alt="My cat Dexter">
    <p>I love my cat so much! I mean, isn't <b>Dexter</b> so cool!</p>
</div>
</body>
</html>