<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweeter</title>
    <style>
        body {
            background: rgb(255, 231, 206);
            padding: 20px;
        }


    </style>
</head>
<body>

<h2>Dear Diary:</h2>

I recently found this weird text: <b>{{ hash }}</b>
<br>
<br>
<br>
My boss told me something
about <i>encryption</i>, but I don't know how to decrypt it!
<br>

<!--Remember to study 'Base64' for encryption/decryption-->

Hope I find a way soon, cuz it's my most valuable possession at the moment...


</body>
</html>